h2,
h3 {
  font-size: 1.4rem;
}

h1,
h3 {
  padding: 10px 0 0 10px;
  margin-bottom: 10px;
}

.section-cart p {
  max-width: 500px;
}

.description-container {
  margin: 0 20px;
}

.container-cart {
  display: flex;
  justify-content: center;
}

.container-cart div {
  justify-content: center;
}

.image-cart {
  max-width: 160px;
}

.cta-flex {
  display: flex;
  flex-direction: column;
}

.cta-flex a {
  margin: 10px 0;
}

.cta-cart {
  text-transform: uppercase;
  padding: 10px 30px;
  font-weight: bold;
  text-align: center;
}

.container-cart {
  max-width: 1000px;
  margin: auto;
}

hr {
  margin: 5px 0 5px 0;
}
