main {
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.flex-form {
  display: flex;
  flex-direction: column;
}

.form-section1,
.form-section2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

label {
  margin: 20px 5px 0 0;
}

select {
  padding: 10px;
}

.cta-submit {
  font-weight: bold;
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  margin-top: 6px;
  border: none;
}

input,
select {
  background: #fff;
}

textarea {
  height: 160px;
}

.flex-contact {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  border: solid 2px #000;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  width: 240px;
  margin: 10px;
}

.contact-box:hover {
  box-shadow: 0 10px 10px #686666ee;
}

.contact-box a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  margin-top: 15px;
}

.contact-box i {
  font-size: 4rem;
  padding: 20px;
  color: #1b203d;
}

@media (min-width: 800px) {
  .form-container {
    flex-direction: row;
    max-width: 700px;
  }

  textarea {
    height: 305px;
  }

  .flex-contact {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .flex-contact {
    flex-direction: row;
  }

  .contact-box {
    margin: 43px;
  }

  .form-container {
    max-width: 900px;
  }
}
