/* Main */
.h1-index {
  font-family: pirulen, "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 1.6em;
}

h2 {
  font-size: 1.3rem;
  font-family: pirulen, "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
}

h3,
h4 {
  text-align: center;
  font-size: 1.6rem;
  background: #1b203d;
}

h3 a,
h4 a {
  color: #fff;
}

.welcome {
  margin-top: 100px;
  text-align: center;
}

footer {
  margin-top: 75px;
}

.cta-started {
  background: #e9e9e9;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 10px;
  border: solid 2px #000000;
  text-transform: uppercase;
  transition-property: border-radius, background, padding;
  transition-duration: 0.5s;
}

.container-selling a:hover {
  border-radius: 30px;
  background: #ffe9e6;
  padding: 8 30px;
}

.container-selling {
  margin-top: 100px;
}

.container-img {
  margin-top: 120px;
}

.front-img {
  max-width: 300px;
}

.box-img {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.box-img div {
  margin: 5px;
  text-align: center;
}

/* Weekly Offers */

.weekly-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.weekly-container div:hover,
.deals-container div:hover {
  box-shadow: 0 10px 10px #686666ee;
}

.weekly-item {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.weekly-item p {
  grid-column: 1;
  margin: 5px;
}

.weekly-item img {
  grid-column: -1/1;
  margin-bottom: 10px;
}

.price-name {
  font-size: 1rem;
  font-weight: bold;
}

.price {
  font-size: 1rem;
}

.cta-cart {
  padding: 14px 30px;
  text-transform: uppercase;
  grid-row: 2/4;
  grid-column: 2;
  margin-right: 5px;
}

/* Member Deals */

.deals-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .h1-index {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .cta-started {
    font-size: 1.4rem;
    padding: 10px 70px;
  }

  .container-selling a:hover {
    padding: 10px 40px;
  }

  .box-img {
    flex-direction: row;
  }

  .front-img {
    max-width: 100%;
  }

  .deals-container,
  .weekly-container {
    grid-template-columns: 1fr 1fr;
  }

  .weekly-container,
  .deals-container {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .h1-index {
    font-size: 3rem;
  }

  .deals-container,
  .weekly-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: none;
  }
}
