main {
  margin-top: 50px;
  max-width: 360px;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

p {
  font-size: 1rem;
}

.paragraph-forgot {
  margin-top: 60px;
}

.form-login {
  max-width: 300px;
  margin: auto;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.button-login {
  padding: 10px 126px;
  margin-top: 20px;
  font-size: 1rem;
}

label {
  margin: 15px 0 2px 0;
}

.button-password {
  padding: 10px 89px;
  margin: 15px 0 40px 0;
  font-size: 1rem;
}

@media (min-width: 610px) {
  main {
    max-width: 600px;
  }
}
