main {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}

h1 {
  font-size: 1.3rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  padding: 0 10px;
}

h3 {
  font-size: 1.4rem;
  background: #1b203d;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

h4 {
  font-size: 1.2rem;
  background: #1b203d;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 0px 0 10px 0;
}

.section-product2 {
  margin-top: 50px;
}

.container-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.container-product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container-img {
  background: #fff;
  text-align: center;
}

.container-info {
  background: #fff;
  border: solid 1px lightslategrey;
  margin: 75px 0 0 0;
  width: 360px;
}

.container-info li {
  font-weight: bold;
  margin: 10px;
}

.paragraph-product {
  font-size: 1rem;
  padding: 0 10px;
}

.prod-img {
  max-width: 360px;
}

.cta-add {
  border-radius: 5px;
  padding: 12px 40px;
  background: #fdc309;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  transition-property: border-radius, background;
  transition-duration: 0.5s;
}

.container-info a:hover {
  background: #fef603;
  border-radius: 20px;
}

.container-prodinfo {
  border: solid 1px lightslategrey;
  max-width: 360px;
}

.bold-paragraph {
  font-weight: bold;
}

.container-product2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container-prodinfo2 {
  border: solid 1px lightslategrey;
  width: 360px;
}

.container-prodinfo2 p {
  font-size: 1rem;
  margin-left: 10px;
}

.container-prodinfo,
.container-prodinfo2 {
  margin-bottom: 50px;
}

.reviews {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

@media (min-width: 650px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .container-product,
  .container-product2 {
    flex-direction: row;
    align-items: flex-start;
  }

  .container-prodinfo2 {
    width: 444px;
    margin-right: 10px;
  }

  .container-prodinfo {
    max-width: 600px;
  }

  h1,
  .container-prodinfo,
  .paragraph-product {
    margin-left: 10px;
  }

  h1 {
    font-size: 2rem;
    margin-left: 106px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 2rem;
  }

  .cta-add {
    padding: 12px 60px;
  }

  .container-info {
    width: 443.6px;
    margin: 75px 10px 0 0;
  }

  .prod-img {
    margin-left: 110px;
  }
}
