body {
  background: linear-gradient(to bottom right, #87e2ef 0%, #b8e9c5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
ul,
.cta,
.cta-cart,
.nav-games a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
}

p,
.success-form,
label,
.nav-games {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2rem;
}

hr {
  border: solid 1px #000;
}

header {
  background: #1b203d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  margin-left: 20px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

.padding-bottom {
  padding-bottom: 50px;
}

/* NAV */

nav,
#hamburger-menu {
  display: none;
}

.icon-burger {
  color: #fff;
  margin-right: 15px;
}

.rotate90 {
  transform: rotate(90deg);
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.nav-container {
  position: relative;
}

nav {
  position: absolute;
  right: 0px;
  background: #1b203d;
  top: 65px;
}

nav li {
  display: block;
  font-weight: bold;
}

nav a {
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.nav-links {
  padding-left: 20px;
}

.nav-links a {
  font-size: 1.4rem;
}

.secondary-nav {
  flex: 0 0 100%;
  background: #317ba8d6;
}

.secondary-nav a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.addtocart {
  background: yellow;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  text-align: center;
  display: none;
  position: absolute;
  left: 8px;
}

.navIcon-flex {
  display: flex;
}

.nav-icon {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

.searchbar {
  padding: 8px 10px 10px 0;
  margin: 0 20px 0 8px;
}

.fa-search {
  font-size: 2rem;
}

/* Forms */

.error-form {
  display: none;
  color: red;
  font-weight: bold;
}

.success-form {
  display: none;
  font-size: 1.8rem;
  margin: 20px auto;
  text-align: center;
  color: green;
}

/* Footer */

footer {
  min-height: 20vh;
  background: #b4b4b4;
}

.container-footer1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  flex-direction: column;
  text-align: center;
}

.container-footer2 i:hover {
  color: #fff;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

footer a {
  color: #000;
  margin: 2px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.container-footer2 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 10px auto auto auto;
}

footer i {
  font-size: 2.5rem;
  padding: 20px;
}

@media (min-width: 700px) {
  footer a {
    margin: 8px;
    font-size: 1rem;
  }

  footer i {
    font-size: 3rem;
  }

  .footer-links {
    margin: 0;
  }

  .container-footer1,
  .container-footer2 {
    width: 80%;
  }

  .container-footer1 {
    justify-content: space-between;
    flex-direction: row;
    text-align: start;
  }
}

@media (min-width: 1350px) {
  .container-footer1 {
    max-width: 1200px;
  }

  header label {
    display: none;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
  }

  .nav-links {
    margin: 0;
    padding-left: 0;
  }

  nav a,
  .secondary-nav a,
  .nav-icon {
    color: #fff;
  }

  .nav-links a {
    font-size: 1.4rem;
    padding: 36px 50px;
    margin-right: 0px;
    transition-property: background;
    transition-duration: 0.8s;
  }

  .secondary-nav a:hover {
    color: #fff;
  }

  .nav-links a:hover {
    text-decoration: underline;
    color: #000;
    background: #f0faf5;
  }

  .secondary-nav a {
    padding: 10px;
  }

  .searchbar {
    padding: 10px 140px 10px 0;
    margin: 0 20px 0 40px;
  }
}

@media (min-width: 1700px) {
  .searchbar {
    padding: 10px 300px 10px 0;
    margin-left: 80px;
  }

  .secondary-nav {
    flex: 0 1 auto;
    background: none;
    margin-right: 10px;
  }

  .addtocart {
    right: 85px;
    left: auto;
  }
}
