main {
  min-height: 75vh;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin: 150px auto 0 auto;
  max-width: 360px;
  background: #fff;
  border-radius: 10px;
}

.cta-account {
  padding: 10px 50px;
  margin-top: 20px;
}

.fa-thumbs-up {
  font-size: 3rem;
  margin: 30px;
  color: green;
}

@media (min-width: 700px) {
  .fa-thumbs-up {
    font-size: 6rem;
  }

  .success-container {
    max-width: 700px;
  }
}
